body
{
    background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/046/505/welivewelovewelie.jpg");
    background-size: cover;
    font-family: 'DynaPuff', cursive;
    display: block;
}
